In [1]:
#Import dependencies
import pandas as pd
from census import Census
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import csv
# Census & gmaps API Keys
from config import api_key

# Census Data cleaning

In [2]:
# Retrive census data for 2010
c = Census(api_key, year=2010)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for':'county:*','in':'state:06'})
# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2010'
census_2010 = census_pd

In [3]:
# Retrive census data for 2011
c = Census(api_key, year=2011)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for':'county:*','in':'state:06'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2011'
census_2011 = census_pd

In [4]:
# Retrive census data for 2012
c = Census(api_key, year=2012)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for':'county:*','in':'state:06'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2012'
census_2012 = census_pd

In [5]:
# Retrive census data for 2013
c = Census(api_key, year=2013)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for':'county:*','in':'state:06'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2013'
census_2013 = census_pd

In [6]:
# Retrive census data for 2014
c = Census(api_key, year=2014)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for':'county:*','in':'state:06'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2014'
census_2014 = census_pd

In [7]:
# Retrive census data for 2015
c = Census(api_key, year=2015)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for':'county:*','in':'state:06'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2015'
census_2015 = census_pd

In [8]:
# Retrive census data for 2016
c = Census(api_key, year=2016)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for':'county:*','in':'state:06'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2016'
census_2016 = census_pd

In [9]:
# Retrive census data for 2017
c = Census(api_key, year=2017)

# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for':'county:*','in':'state:06'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2017'
census_2017 = census_pd

In [10]:
# Retrive census data for 2018
c = Census(api_key, year=2018)

# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for':'county:*','in':'state:06'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']

# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2018'
census_2018 = census_pd

In [11]:
# Retrive census data for 2019
c = Census(api_key, year=2019)
# Run Census Search to retrieve data on all states
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for':'county:*','in':'state:06'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B23025_005E": "Unemployment Count",
                                      "NAME": "Name", "state": "State"})
                                           
#Split NAME column to separate county and state
census = census_pd["Name"].astype(str)
census = census.str.split(pat=",")
data = census.tolist()
county_state = ["County name", "State",]
census = pd.DataFrame(data, columns = county_state)

census_pd['County'] = census['County name']
# Add in Poverty Rate (Poverty Count / Population)
census_pd["Poverty Rate"] = 100 * \
    census_pd["Poverty Count"].astype(
        int) / census_pd["Population"].astype(int)

#Add year column
census_pd['Year'] = '2019'
census_2019 = census_pd

In [12]:
# merge all data frames from 2010 to 2019 and save as .csv format
frames = [census_2010, census_2011, census_2012, census_2013, census_2014, census_2015, census_2016, census_2017, census_2018, census_2019]
census_megered = pd.concat(frames)
census_megered.to_csv('data_output/Census_10_19.csv')

# Drought data cleaning

In [13]:
#Import CSV file 
csv_path = "Resources/dm_export_2009_2019.csv"
drought_data = pd.read_csv(csv_path)
drought = pd.DataFrame(drought_data)
drought.head()

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20191231,6001,Alameda County,CA,100.0,0.0,0.0,0.0,0.0,0.0,12/31/2019,1/6/2020,1
1,20191224,6001,Alameda County,CA,100.0,0.0,0.0,0.0,0.0,0.0,12/24/2019,12/30/2019,1
2,20191217,6001,Alameda County,CA,100.0,0.0,0.0,0.0,0.0,0.0,12/17/2019,12/23/2019,1
3,20191210,6001,Alameda County,CA,100.0,0.0,0.0,0.0,0.0,0.0,12/10/2019,12/16/2019,1
4,20191203,6001,Alameda County,CA,0.0,100.0,0.0,0.0,0.0,0.0,12/3/2019,12/9/2019,1

In [14]:
#Split ValidEnd column to separate year
drought_date = drought["ValidEnd"].astype(str)
drought_date_split = drought_date.str.split(pat="/")
data = drought_date_split.tolist()
names = ["Month", "Day", "Year"]
year_df = pd.DataFrame(data, columns = names)
year_df

#Add year column to original dataframe
drought["Year"] = year_df["Year"]
drought.head()

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,Year
0,20191231,6001,Alameda County,CA,100.0,0.0,0.0,0.0,0.0,0.0,12/31/2019,1/6/2020,1,2020
1,20191224,6001,Alameda County,CA,100.0,0.0,0.0,0.0,0.0,0.0,12/24/2019,12/30/2019,1,2019
2,20191217,6001,Alameda County,CA,100.0,0.0,0.0,0.0,0.0,0.0,12/17/2019,12/23/2019,1,2019
3,20191210,6001,Alameda County,CA,100.0,0.0,0.0,0.0,0.0,0.0,12/10/2019,12/16/2019,1,2019
4,20191203,6001,Alameda County,CA,0.0,100.0,0.0,0.0,0.0,0.0,12/3/2019,12/9/2019,1,2019

In [15]:
#Group df by year and county, and take the average of each drought index column
drought_filtered = drought.groupby(['Year', 'County']).mean()
drought_filtered.head()
drought_ave = pd.DataFrame(drought_filtered)
drought_ave.head()

                            MapDate    FIPS      None          D0          D1  \
Year County
2009 Alameda County    2.009048e+07  6001.0  0.000000  100.000000   87.209615
     Alpine County     2.009048e+07  6003.0  3.876154   96.123846   27.556538
     Amador County     2.009048e+07  6005.0  2.080385   97.919615   64.656154
     Butte County      2.009048e+07  6007.0  0.000000  100.000000  100.000000
     Calaveras County  2.009048e+07  6009.0  3.638077   96.361923   67.500000

                              D2         D3   D4  StatisticFormatID
Year County
2009 Alameda County    34.772115   0.000000  0.0                1.0
     Alpine County      6.046731   0.000000  0.0                1.0
     Amador County     27.664808   0.000000  0.0                1.0
     Butte County      53.633269  10.754615  0.0                1.0
     Calaveras County  33.952885   0.000000  0.0                1.0

In [16]:
#Reset index, match Year and County datatypes to census dataframe
drought_df = drought_ave.reset_index()
drought_df = drought_df.astype({'Year':'int64'})
drought_df.dtypes

Year                   int64
County                object
MapDate              float64
FIPS                 float64
None                 float64
D0                   float64
D1                   float64
D2                   float64
D3                   float64
D4                   float64
StatisticFormatID    float64
dtype: object

In [17]:
#Merge drought data with Kevin's census data

#Import ten years of census data
csv_path = "data_output/Census_10_19.csv"
census_10 = pd.read_csv(csv_path)
census_10 = pd.DataFrame(census_10)
census_10.head()
census_10.dtypes

Unnamed: 0              int64
Name                   object
Household Income      float64
Population            float64
Median Age            float64
Per Capita Income     float64
Poverty Count         float64
State                   int64
county                  int64
County                 object
Poverty Rate          float64
Year                    int64
Unemployment Count    float64
dtype: object

In [18]:
#Merge census and drought data, drop NA values 
merged_df = pd.merge(drought_df, census_10, how="outer", on = ['Year', 'County'])
merged_df = merged_df.drop(columns=['MapDate', 'FIPS','State', 'StatisticFormatID'])
merged_df = merged_df.loc[merged_df['Year']>2009]
merged_df = merged_df.loc[merged_df['Year']<2020]
merged_df.dropna()
merged_df.head()

,Year,County,None,D0,D1,D2,D3,D4,Unnamed: 0,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,county,Poverty Rate,Unemployment Count
58,2010,Alameda County,84.000192,15.999808,2.624615,0.000000,0.0,0.0,35.0,"Alameda County, California",69384.0,1477980.0,36.2,33961.0,165417.0,1.0,11.192100,NaN
59,2010,Alpine County,87.179423,12.820577,1.116154,0.000000,0.0,0.0,36.0,"Alpine County, California",63478.0,1176.0,40.9,32159.0,145.0,3.0,12.329932,NaN
60,2010,Amador County,92.307692,7.692308,0.000000,0.000000,0.0,0.0,37.0,"Amador County, California",54758.0,38327.0,47.2,26329.0,2720.0,5.0,7.096825,NaN
61,2010,Butte County,70.173462,29.826538,6.780385,0.676346,0.0,0.0,38.0,"Butte County, California",43170.0,218635.0,37.2,23404.0,39290.0,7.0,17.970590,NaN
62,2010,Calaveras County,93.010000,6.990000,0.000000,0.000000,0.0,0.0,39.0,"Calaveras County, California",54971.0,45994.0,48.5,28408.0,3773.0,9.0,8.203244,NaN

In [19]:
#Save merged dataframe as csv
merged_df.to_csv('data_output/drought_census_2010_2019.csv')
merged_df.head()

,Year,County,None,D0,D1,D2,D3,D4,Unnamed: 0,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,county,Poverty Rate,Unemployment Count
58,2010,Alameda County,84.000192,15.999808,2.624615,0.000000,0.0,0.0,35.0,"Alameda County, California",69384.0,1477980.0,36.2,33961.0,165417.0,1.0,11.192100,NaN
59,2010,Alpine County,87.179423,12.820577,1.116154,0.000000,0.0,0.0,36.0,"Alpine County, California",63478.0,1176.0,40.9,32159.0,145.0,3.0,12.329932,NaN
60,2010,Amador County,92.307692,7.692308,0.000000,0.000000,0.0,0.0,37.0,"Amador County, California",54758.0,38327.0,47.2,26329.0,2720.0,5.0,7.096825,NaN
61,2010,Butte County,70.173462,29.826538,6.780385,0.676346,0.0,0.0,38.0,"Butte County, California",43170.0,218635.0,37.2,23404.0,39290.0,7.0,17.970590,NaN
62,2010,Calaveras County,93.010000,6.990000,0.000000,0.000000,0.0,0.0,39.0,"Calaveras County, California",54971.0,45994.0,48.5,28408.0,3773.0,9.0,8.203244,NaN

# Temperature data cleaning

In [20]:
#Import merged dataset 
csv_path = "Resources/max_temp_ca.csv"
df = pd.read_csv(csv_path)
df = pd.DataFrame(df)
df=df.rename(columns={"Location": "County"})
df.head()

,Location ID,County,Year,Month,Temp (F),Rank,Anomaly (1901-2000 base period),1901-2000 Mean
0,CA-001,Alameda County,1895,1,51.5,15,-2.9,54.4
1,CA-001,Alameda County,1895,2,59.3,84,1.3,58.0
2,CA-001,Alameda County,1895,3,59.8,36,-1.6,61.4
3,CA-001,Alameda County,1895,4,65.2,51,-0.7,65.9
4,CA-001,Alameda County,1895,5,71.2,54,-0.1,71.3

In [21]:
#sort dataset for 2010-2019
df = df.loc[df["Year"] > 2009]
df = df.loc[df["Year"] <2020]

In [22]:
#group by year and location
df.head()
df=df.groupby(['Year', 'County']).max()

In [23]:
#Import merged dataset 
csv_path_drought = "data_output/drought_census_2010_2019.csv"
drought_df = pd.read_csv(csv_path_drought)
drought_df = pd.DataFrame(drought_df)
drought_df.head()

,Unnamed: 0,Year,County,None,D0,D1,D2,D3,D4,Unnamed: 0.1,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,county,Poverty Rate,Unemployment Count
0,58,2010,Alameda County,84.000192,15.999808,2.624615,0.000000,0.0,0.0,35.0,"Alameda County, California",69384.0,1477980.0,36.2,33961.0,165417.0,1.0,11.192100,NaN
1,59,2010,Alpine County,87.179423,12.820577,1.116154,0.000000,0.0,0.0,36.0,"Alpine County, California",63478.0,1176.0,40.9,32159.0,145.0,3.0,12.329932,NaN
2,60,2010,Amador County,92.307692,7.692308,0.000000,0.000000,0.0,0.0,37.0,"Amador County, California",54758.0,38327.0,47.2,26329.0,2720.0,5.0,7.096825,NaN
3,61,2010,Butte County,70.173462,29.826538,6.780385,0.676346,0.0,0.0,38.0,"Butte County, California",43170.0,218635.0,37.2,23404.0,39290.0,7.0,17.970590,NaN
4,62,2010,Calaveras County,93.010000,6.990000,0.000000,0.000000,0.0,0.0,39.0,"Calaveras County, California",54971.0,45994.0,48.5,28408.0,3773.0,9.0,8.203244,NaN

In [24]:
#Merge census and temp data
merged_df = pd.merge(drought_df, df, how="outer", on = ['Year', 'County'])
merged_df.reset_index()

,index,Unnamed: 0,Year,County,None,D0,D1,D2,D3,D4,...,Poverty Count,county,Poverty Rate,Unemployment Count,Location ID,Month,Temp (F),Rank,Anomaly (1901-2000 base period),1901-2000 Mean
0,0,58,2010,Alameda County,84.000192,15.999808,2.624615,0.000000,0.000000,0.0,...,165417.0,1.0,11.192100,NaN,CA-001,12,81.8,96,1.8,82.3
1,1,59,2010,Alpine County,87.179423,12.820577,1.116154,0.000000,0.000000,0.0,...,145.0,3.0,12.329932,NaN,CA-003,12,75.7,100,2.6,75.0
2,2,60,2010,Amador County,92.307692,7.692308,0.000000,0.000000,0.000000,0.0,...,2720.0,5.0,7.096825,NaN,CA-005,12,90.8,93,2.2,90.4
3,3,61,2010,Butte County,70.173462,29.826538,6.780385,0.676346,0.000000,0.0,...,39290.0,7.0,17.970590,NaN,CA-007,12,92.7,85,2.2,92.3
4,4,62,2010,Calaveras County,93.010000,6.990000,0.000000,0.000000,0.000000,0.0,...,3773.0,9.0,8.203244,NaN,CA-009,12,91.5,85,1.6,91.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,575,633,2019,Tulare County,83.442692,16.557308,1.346923,0.000000,0.000000,0.0,...,108512.0,107.0,23.492633,18841.0,CA-107,12,85.9,115,4.3,86.8
576,576,634,2019,Tuolumne County,87.640385,12.359615,0.000000,0.000000,0.000000,0.0,...,6443.0,109.0,11.921547,1156.0,CA-109,12,82.6,113,4.8,82.0
577,577,635,2019,Ventura County,78.846154,21.153846,9.615385,4.724808,2.567115,0.0,...,74645.0,111.0,8.810133,22340.0,CA-111,12,85.1,108,4.4,83.3
578,578,636,2019,Yolo County,84.075769,15.924231,2.451538,0.000000,0.000000,0.0,...,39919.0,113.0,18.366061,6562.0,CA-113,12,95.1,120,5.7,94.7
579,579,637,2019,Yuba County,82.865769,17.134231,6.968462,0.000000,0.000000,0.0,...,11572.0,115.0,15.154531,2297.0,CA-115,12,93.6,115,5.4,92.8

In [25]:
county = merged_df['County'].tolist()
county = [x.rstrip(' County') for x in county]
county
merged_df["County"] = county
merged_df.head()
#Save merged dataframe as csv
merged_df.to_csv('data_output/drought_temp_census_2010_2019.csv')

# Wildfire data cleaning

In [26]:
# Load in the csv
wildfire_data = "Resources/California_Fire_Incidents.csv"

In [27]:
# Read the wildfire csv and display
fire_data = pd.read_csv(wildfire_data)
fire_data.head()

,AcresBurned,Active,AdminUnit,AirTankers,ArchiveYear,CalFireIncident,CanonicalUrl,ConditionStatement,ControlStatement,Counties,...,SearchKeywords,Started,Status,StructuresDamaged,StructuresDestroyed,StructuresEvacuated,StructuresThreatened,UniqueId,Updated,WaterTenders
0,257314.0,False,Stanislaus National Forest/Yosemite National Park,NaN,2013,True,/incidents/2013/8/17/rim-fire/,NaN,NaN,Tuolumne,...,"Rim Fire, Stanislaus National Forest, Yosemite...",2013-08-17T15:25:00Z,Finalized,NaN,NaN,NaN,NaN,5fb18d4d-213f-4d83-a179-daaf11939e78,2013-09-06T18:30:00Z,NaN
1,30274.0,False,USFS Angeles National Forest/Los Angeles Count...,NaN,2013,True,/incidents/2013/5/30/powerhouse-fire/,NaN,NaN,Los Angeles,...,"Powerhouse Fire, May 2013, June 2013, Angeles ...",2013-05-30T15:28:00Z,Finalized,NaN,NaN,NaN,NaN,bf37805e-1cc2-4208-9972-753e47874c87,2013-06-08T18:30:00Z,NaN
2,27531.0,False,CAL FIRE Riverside Unit / San Bernardino Natio...,NaN,2013,True,/incidents/2013/7/15/mountain-fire/,NaN,NaN,Riverside,...,"Mountain Fire, July 2013, Highway 243, Highway...",2013-07-15T13:43:00Z,Finalized,NaN,NaN,NaN,NaN,a3149fec-4d48-427c-8b2c-59e8b79d59db,2013-07-30T18:00:00Z,NaN
3,27440.0,False,Tahoe National Forest,NaN,2013,False,/incidents/2013/8/10/american-fire/,NaN,NaN,Placer,...,"American Fire, August 2013, Deadwood Ridge, Fo...",2013-08-10T16:30:00Z,Finalized,NaN,NaN,NaN,NaN,8213f5c7-34fa-403b-a4bc-da2ace6e6625,2013-08-30T08:00:00Z,NaN
4,24251.0,False,Ventura County Fire/CAL FIRE,NaN,2013,True,/incidents/2013/5/2/springs-fire/,Acreage has been reduced based upon more accur...,NaN,Ventura,...,"Springs Fire, May 2013, Highway 101, Camarillo...",2013-05-02T07:01:00Z,Finalized,6.0,10.0,NaN,NaN,46731fb8-3350-4920-bdf7-910ac0eb715c,2013-05-11T06:30:00Z,11.0

In [28]:
wildfire_df = fire_data[['ArchiveYear', 'Counties', 'AcresBurned']]
wildfire_df.head()

   ArchiveYear     Counties  AcresBurned
0         2013     Tuolumne     257314.0
1         2013  Los Angeles      30274.0
2         2013    Riverside      27531.0
3         2013       Placer      27440.0
4         2013      Ventura      24251.0

In [29]:
# Create data frame from csv data

fireyear = wildfire_df['ArchiveYear']
acres = wildfire_df['AcresBurned']
county = wildfire_df['Counties']

wildfire_df = pd.DataFrame({
    'Year' : fireyear,
    'County' : county,
    'Acres Burned' : acres
})

wildfire_df

      Year       County  Acres Burned
0     2013     Tuolumne      257314.0
1     2013  Los Angeles       30274.0
2     2013    Riverside       27531.0
3     2013       Placer       27440.0
4     2013      Ventura       24251.0
...    ...          ...           ...
1631  2019    Riverside           9.0
1632  2019       Nevada           2.0
1633  2019         Yolo           NaN
1634  2019    San Diego           NaN
1635  2019    Riverside           NaN

[1636 rows x 3 columns]

In [30]:
grouped_wildfire = wildfire_df.groupby(['Year', "County"]).mean()
grouped_wildfire.reset_index()

     Year     County  Acres Burned
0    2013    Alameda    119.500000
1    2013     Amador     96.000000
2    2013      Butte    494.142857
3    2013  Calaveras     38.500000
4    2013     Colusa     28.000000
..    ...        ...           ...
328  2019     Tulare    236.285714
329  2019   Tuolumne     52.000000
330  2019    Ventura   2084.333333
331  2019       Yolo   1272.500000
332  2019       Yuba     67.000000

[333 rows x 3 columns]

In [31]:
sum_wildfire = wildfire_df.groupby(['Year', "County"]).sum()
sum_wildfire.reset_index()

     Year     County  Acres Burned
0    2013    Alameda         478.0
1    2013     Amador          96.0
2    2013      Butte        3459.0
3    2013  Calaveras          77.0
4    2013     Colusa          28.0
..    ...        ...           ...
328  2019     Tulare        1654.0
329  2019   Tuolumne         104.0
330  2019    Ventura       12506.0
331  2019       Yolo        2545.0
332  2019       Yuba         268.0

[333 rows x 3 columns]

In [32]:
census_csv = 'data_output/drought_census_2010_2019.csv'

census_data = pd.read_csv(census_csv)

census_data.head()

,Unnamed: 0,Year,County,None,D0,D1,D2,D3,D4,Unnamed: 0.1,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,county,Poverty Rate,Unemployment Count
0,58,2010,Alameda County,84.000192,15.999808,2.624615,0.000000,0.0,0.0,35.0,"Alameda County, California",69384.0,1477980.0,36.2,33961.0,165417.0,1.0,11.192100,NaN
1,59,2010,Alpine County,87.179423,12.820577,1.116154,0.000000,0.0,0.0,36.0,"Alpine County, California",63478.0,1176.0,40.9,32159.0,145.0,3.0,12.329932,NaN
2,60,2010,Amador County,92.307692,7.692308,0.000000,0.000000,0.0,0.0,37.0,"Amador County, California",54758.0,38327.0,47.2,26329.0,2720.0,5.0,7.096825,NaN
3,61,2010,Butte County,70.173462,29.826538,6.780385,0.676346,0.0,0.0,38.0,"Butte County, California",43170.0,218635.0,37.2,23404.0,39290.0,7.0,17.970590,NaN
4,62,2010,Calaveras County,93.010000,6.990000,0.000000,0.000000,0.0,0.0,39.0,"Calaveras County, California",54971.0,45994.0,48.5,28408.0,3773.0,9.0,8.203244,NaN

In [33]:
# Create data frame from csv census

census_year = census_data['Year']
census_county = census_data['County']
census_poverty = census_data['Poverty Rate']
census_household = census_data['Household Income']

census_df = pd.DataFrame({
    'Year' : census_year,
    'County' : census_county,
    'Poverty Rate' : census_poverty,
    'Household Income' : census_household
})

census_df.head()

   Year            County  Poverty Rate  Household Income
0  2010    Alameda County     11.192100           69384.0
1  2010     Alpine County     12.329932           63478.0
2  2010     Amador County      7.096825           54758.0
3  2010      Butte County     17.970590           43170.0
4  2010  Calaveras County      8.203244           54971.0

In [34]:
# Remove the word 'County' from the County column

county_list = census_df.County.tolist()
county_list = [x.rstrip(' County') for x in county_list]
census_df.County = county_list
census_df.head()

   Year     County  Poverty Rate  Household Income
0  2010    Alameda     11.192100           69384.0
1  2010     Alpine     12.329932           63478.0
2  2010     Amador      7.096825           54758.0
3  2010      Butte     17.970590           43170.0
4  2010  Calaveras      8.203244           54971.0

In [35]:
census_df = census_df.loc[census_df['Year'] > 2012]
census_df = census_df.loc[census_df['Year'] < 2020]
census_df

     Year     County  Poverty Rate  Household Income
174  2013    Alameda     12.278212           72112.0
175  2013     Alpine     15.793991           58636.0
176  2013     Amador     11.089733           53684.0
177  2013      Butte     19.924550           43752.0
178  2013  Calaveras     10.740470           55295.0
..    ...        ...           ...               ...
575  2019     Tulare     23.492633           49687.0
576  2019   Tuolumne     11.921547           60108.0
577  2019    Ventura      8.810133           88131.0
578  2019        Yol     18.366061           70228.0
579  2019       Yuba     15.154531           58054.0

[406 rows x 4 columns]

In [36]:
merged_sum_df = pd.merge(census_df, sum_wildfire, how = 'outer', on = ['Year', 'County'], sort = True)
cleaned_merged_sum_df = merged_sum_df.dropna()
cleaned_merged_sum_df

     Year     County  Poverty Rate  Household Income  Acres Burned
0    2013    Alameda     12.278212           72112.0         478.0
2    2013     Amador     11.089733           53684.0          96.0
3    2013      Butte     19.924550           43752.0        3459.0
4    2013  Calaveras     10.740470           55295.0          77.0
5    2013     Colusa     12.332678           52158.0          28.0
..    ...        ...           ...               ...           ...
532  2019     Tehama     21.795594           44514.0       17507.0
535  2019     Tulare     23.492633           49687.0        1654.0
536  2019   Tuolumne     11.921547           60108.0         104.0
537  2019    Ventura      8.810133           88131.0       12506.0
540  2019       Yuba     15.154531           58054.0         268.0

[198 rows x 5 columns]

In [37]:
cleaned_merged_sum_df.to_csv('data_output/wildfire_sum_census.csv', index = False)

In [38]:
# Merge two data frames

merged_avg_df = pd.merge(census_df, grouped_wildfire, how = 'outer', on = ['Year', 'County'], sort = True)
cleaned_merged_avg_df = merged_avg_df.dropna()
cleaned_merged_avg_df

     Year     County  Poverty Rate  Household Income  Acres Burned
0    2013    Alameda     12.278212           72112.0    119.500000
2    2013     Amador     11.089733           53684.0     96.000000
3    2013      Butte     19.924550           43752.0    494.142857
4    2013  Calaveras     10.740470           55295.0     38.500000
5    2013     Colusa     12.332678           52158.0     28.000000
..    ...        ...           ...               ...           ...
532  2019     Tehama     21.795594           44514.0   1945.222222
535  2019     Tulare     23.492633           49687.0    236.285714
536  2019   Tuolumne     11.921547           60108.0     52.000000
537  2019    Ventura      8.810133           88131.0   2084.333333
540  2019       Yuba     15.154531           58054.0     67.000000

[198 rows x 5 columns]

In [39]:
cleaned_merged_avg_df.to_csv('data_output/wildfire_avg_census.csv', index = False)