In [2]:
import pandas as pd

In [14]:
path = ('Resources/Rain/pcp_all.csv')
data = pd.read_csv(path)
data

,Location ID,Location,Date,Value,Rank,Anomaly (1901-2000 base period),1901-2000 Mean
0,CA-001,Alameda County,189501,8.43,119,4.46,3.97
1,CA-001,Alameda County,189502,2.09,54,-1.25,3.34
2,CA-001,Alameda County,189503,1.97,51,-0.90,2.87
3,CA-001,Alameda County,189504,1.75,90,0.41,1.34
4,CA-001,Alameda County,189505,1.20,110,0.62,0.58
...,...,...,...,...,...,...,...
88155,CA-115,Yuba County,202104,0.31,3,-2.47,2.78
88156,CA-115,Yuba County,202105,0.08,10,-1.35,1.43
88157,CA-115,Yuba County,202106,0.02,24,-0.43,0.45
88158,CA-115,Yuba County,202107,0.01,92,0.00,0.01
88159,CA-115,Yuba County,202108,0.00,1,-0.07,0.07

In [15]:
data['Year'] = data['Date'].astype(str).str.extract('(\d{,4})', expand=False)
data['Month'] = data['Date'].astype(str).str.strip().str[-2:]
data.head()

,Location ID,Location,Date,Value,Rank,Anomaly (1901-2000 base period),1901-2000 Mean,Year,Month
0,CA-001,Alameda County,189501,8.43,119,4.46,3.97,1895,01
1,CA-001,Alameda County,189502,2.09,54,-1.25,3.34,1895,02
2,CA-001,Alameda County,189503,1.97,51,-0.90,2.87,1895,03
3,CA-001,Alameda County,189504,1.75,90,0.41,1.34,1895,04
4,CA-001,Alameda County,189505,1.20,110,0.62,0.58,1895,05

In [16]:
data = data[['Location ID', 'Location', 'Year', 'Month', 'Value']]
data = data.rename(columns = {'Location ID' : 'State-FIP', 'Location' : 'County'})

In [23]:
data = data.loc[(data['Year'] >= '2010' & (data['Year'] <= '2019')]

SyntaxError: invalid syntax (<ipython-input-23-82de0f322b72>, line 1)

In [31]:
data_year = data.groupby('Year')['Value'].mean()

In [32]:
data_year

Year
2009.0    1.866882
2010.0    3.193132
2011.0    2.004511
2012.0    2.593218
2013.0    0.739670
2014.0    2.176681
2015.0    1.465876
2016.0    2.736264
2017.0    3.118922
2018.0    1.944210
2019.0    3.040431
Name: Value, dtype: float64

In [ ]:
data_sum