In [1]:
# Dependencies
import matplotlib.pyplot as plt
import requests
import pandas as pd

ImportError: cannot import name 'api_key'

In [2]:
weather_df = pd.read_csv('storm_data_search_results.csv')

In [3]:
weather_df.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,149369,SAN BERNARDINO AND RIVERSIDE COUNTY VALLEYS - ...,,01/01/2009,0,Drought,,,0,0,...,,01/31/2009,2359,,,,,NaN,"Rainfall was lacking for the month of January,...",1
1,149364,APPLE AND LUCERNE VALLEYS (ZONE),,01/01/2009,0,Drought,,,0,0,...,,01/31/2009,2359,,,,,NaN,"Rainfall was lacking for the month of January,...",2
2,149370,SAN BERNARDINO COUNTY MOUNTAINS (ZONE),,01/01/2009,0,Drought,,,0,0,...,,01/31/2009,2359,,,,,NaN,"Rainfall was lacking for the month of January,...",3
3,149368,RIVERSIDE COUNTY MOUNTAINS (ZONE),,01/01/2009,0,Drought,,,0,0,...,,01/31/2009,2359,,,,,NaN,"Rainfall was lacking for the month of January,...",4
4,149367,ORANGE COUNTY COASTAL AREAS (ZONE),,01/01/2009,0,Drought,,,0,0,...,,01/31/2009,2359,,,,,NaN,"Rainfall was lacking for the month of January,...",5